.syllabus-container {
    max-width: 1020px;
    margin: 70px auto;
    padding: 40px;
}

.mat-mdc-form-field {
    width: 80%;
}

mat-accordion {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}

li {
    padding: 5px 0;
}