<div class="auth-container">
    <div class="auth-card">
        <span>cancel</span>
        <h1>Welcome</h1>
        <div>
            <h2>Login with email</h2>
            <div>Upcoming login with Email and password</div>
        </div>

        <div class="largeOr">
            <hr>
            <div class="or"> or </div>
            <hr>
        </div>

        <button class="google-signin-button" (click)="onGoogleSignIn()">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo">
            Sign in with Google
        </button>

    </div>
</div>