.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;

    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 2rem;
    }
}

.adminMessage {
    h3 {
        text-decoration: underline;
        color: rgb(105, 0, 0);
    }
}