<div class="container">
    <h2>Registration Submitted</h2>
    <p>Your registration has been submitted and is currently under review by the institute admin.</p>
    <p>You will be able to use our services once registration is confirmed. Kindly try in some time.</p>

    <!-- Conditionally show the admin message -->
    <div *ngIf="adminMessage" class="adminMessage">
        <h3>Message from Admin</h3>
        <p>{{ adminMessage }}</p>
    </div>

    <p>
        <button mat-raised-button color="primary" routerLink="/home">Go to Home</button>&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="warn" routerLink="/register/new">Edit Registration details</button>
    </p>
</div>