.container {
    padding: 2rem;

    @media screen and (max-width: 425px) {
        padding: 0.5rem;
    }
}

.user-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;

    @media screen and (max-width: 425px) {
        gap: 0.5rem;
    }
}

.val {
    text-transform: capitalize;
}

.user-card {
    flex: 1 1 calc(33% - 1rem);
    box-sizing: border-box;

    max-width: 420px;

    @media screen and (max-width: 425px) {
        max-width: 95vw;
    }
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

pre {
    overflow: scroll;
}

.mat-mdc-card-content {
    margin-top: 12px;
}

@media (max-width: 600px) {
    .user-card {
        flex: 1 1 100%;
    }
}