<div *ngIf="subdomainChecked">
    <mat-toolbar *ngIf="checkhome()" class="navbar">
        <a (click)="homeroute()"> {{ title }}</a>
        <div class="profile">
            <span (click)="openSignIn()" *ngIf="!user"> Sign In </span>
            <div class="profile-pic" *ngIf="user">
                <img [src]="user.photoURL" [matMenuTriggerFor]="menu">
                <mat-menu #menu="matMenu">

                    <mat-icon fontIcon="account_circle"></mat-icon>
                    <button mat-menu-item>
                        <span>Profile</span>
                    </button>
                    <button mat-menu-item (click)="onSignOut()">
                        <mat-icon></mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>

    <content>
        <router-outlet></router-outlet>
    </content>

    <div class="footer">
        GT Gurukul © 2024
        | <a [routerLink]="['/documentation']">Documentation</a>
    </div>
    <app-observation-list *ngIf="showObservationList"></app-observation-list>
</div>

<!-- Sample role based authentication -->
<!--    <div *ngIf="(authService.getUserRole() | async) === 'admin'">
            <p>Admin-specific content goes here.</p>
        </div> -->