:root {
    --theme-color: #3f51b5; // Default color, will be overridden by dynamic value if available
}

.navbar {
    border-top: 8px solid var(--theme-color);
    color: var(--theme-color);
    padding: 20px;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: opacity 0.02s;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 1px rgba(0, 0, 0, 0.1);

    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.logo {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    float: left;
    padding: 0 8px 0 0;
    margin-top: -2px;
}

.footer {
    text-align: center;
    background-color: rgba(0, 0, 0, .01);
    padding: 8px 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    border-bottom: 16px solid rgba($color: #1b1b1b, $alpha: 1.0);
    margin: 360px 0 0;

    @media screen and (max-width: 425px) {
        margin: 100px 0 0;
    }
}