.container {
    min-width: 273px;
    margin: 1%;
    padding: 2% 7%;
    border: 1px solid #d0d7de;

    h1 {
        border-bottom: 1px solid #eaecef !important;
        padding-bottom: 0.3em;
        margin-bottom: 0.5em;
    }
}

.markdown-content h1 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
}

.styled-h1 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
}

h1 {
    color: red;
    /* Test rule to see if it takes effect */
}




// border-width: 1px;
// border-style: none solid solid;
// border-image: initial;
// border-color: var(--borderColor-default, var(--color-border-default, #d0d7de));
// border-radius: 0px 0px 6px 6px;