.add-news-content {
    width: 100%;
}

.add-news-container {
    max-width: 1050px;
    padding: 20px;
    margin: auto;
}

mat-card {
    margin-top: 20px;
}



.mat-mdc-form-field {
    max-width: auto !important;
    width: 100%;
}

.ckeditor-container {
    margin-top: 16px;
}

.file-input-container {
    margin-top: 16px;
}

.mat-divider {
    margin: 24px 0;
}