<div class="container">
    <div *ngIf="user$ | async as user">
        <h1 class="welcome">Welcome, {{ user.displayName }}</h1>
        <!-- Add more user details as needed -->

        <!-- Icons -->
        <div class="action-icons">
            <ng-container *ngFor="let action of actionlist">
                <div class="action" *ngIf="!action.access || action.access === user.role"
                    [style.background-color]="action.color">
                    <a [routerLink]="action.route">
                        <div class="icon">
                            <img [src]="action.imageUrl" *ngIf="action.imageUrl" class="icon-image">
                        </div>
                        {{action.title}}
                    </a>
                </div>
            </ng-container>
        </div>
    </div>

    <div *ngIf="!(user$ | async)">
        <h1>Please log in to see the actions.</h1>
    </div>
</div>

<app-news-events></app-news-events>