.container {
    margin: 24px;

    .welcome {
        @media screen and (max-width: 425px) {
            text-align: center;
        }
    }
}

.action-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 36px 20px;
    gap: 40px;

    .action {
        text-align: center;
        max-width: 110px;
        min-width: 110px;
        padding: 20px 12px 4px;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        box-shadow: 0 0 1px;
    }
}

.icon-image {
    height: 75px;
    width: 75px;
    border-radius: 1em;
}