<div class="container-quiz">
    <div *ngIf="!currentQuestion && !quizOwner" class="message">
        {{ message }}
    </div>

    <mat-card *ngIf="currentQuestion && !waitingForNextQuestion">
        <mat-card-header>
            <mat-card-title>
                {{ currentQuestion.question }}
                <app-quiz-timer [timerValue]="participantTimer" (timerEnded)="handleTimerEnd()"></app-quiz-timer>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <ol>
                <div *ngFor="let option of currentQuestion.options; let i = index" class="option"
                    (click)="handleAnswerSelection(i + 1)" [ngClass]="{                         
                         'disabled': answerSubmitted && selectedAnswer !== i + 1,
                         'selected': selectedAnswer === i + 1
                           }" [style.pointer-events]="answerSubmitted ? 'none' : 'auto'">
                    <li>{{ (i+1) +". " +option }}</li>
                </div>
            </ol>
        </mat-card-content>
    </mat-card>

    <div *ngIf="waitingForNextQuestion" class="message">
        {{ message }}
    </div>
</div>